@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
    overflow: hidden;
    font-weight: 700;
}

.Palette{
    height: 100vh;
}
.Palette-colors{
    height: 90%;
}