@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
    overflow: hidden;
    font-weight: 700;
}

.Palette{
    height: 100vh;
}
.Palette-colors{
    height: 90%;
}
.Palette-footer{
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}
.emoji{
    margin: auto 1.5rem;
    font-size: 1.5rem;
}